.header{
	margin-bottom: 20px;
	margin-top: 10px;
}
.custom_bgc{
	background-color: #FFAEC9;
	padding: 10px 0;
}
.bgc{
	border:5px solid #22B14C;
	min-height: 100px;
	background-color: #99D9EA;
	margin: 5px 0;
}
.new_bg{
	background-color: #22B14C;
	/*padding: 10px 0;*/
}
.one{
	border:5px solid #F6D514;
}
.red{
	background-color: #ff0000;
	border:5px solid #F6D514;
	min-height: 100px;
}
.hero{
	margin-bottom: 20px;
}
.footer{
	margin-top: 20px;
}